

<style>
   
    body{
        background-color: powderblue;
    }

    /* estilo del boton */
    .dropbtn {
      background-color: #168fd4;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;

    }
    
    /* posicion para el contenedor div */
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    /* Dropdown contenido oculto por default */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    /* lista de Links dentro de dropdown */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    /* cambio de color de dropdown links al pasar el cursor */
    .dropdown-content a:hover {background-color: #f1f1f1}
    
    /* muestra el menu dropdown menu al pasar el cursor con hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    /* cambia  el color de fondo del bootob al mostrar el contenido*/
    .dropdown:hover .dropbtn {
      background-color: #365cad;
    }
    </style>
       <!--- clase, boton, -->
    <div class="dropdown">
      <button class="dropbtn">Menù</button>
      <div class="dropdown-content">
         <!-- Enrutamiento de el contenido dropdown-->
         <a ng-link="['Home']">Home</a>
         <a ng-link="['Gallery']">Gallery</a>
         <a ng-link="['Contact']">Contact</a>
      </div>
    </div>

<!--contenedor de la ruta-->
<ng-outlet></ng-outlet>

