<style>
    body{
        background-color: powderblue;
    }
    h1{
        
  color:darksalmon;
  text-align:center;
    }
    h2{
        color:goldenrod;
  text-align:center; 
    }
    h3{      
  color:darksalmon;
  text-align:center;
    }
    h4{
        color:goldenrod;
  text-align:center; 
  
    }
</style>
    <h1> CONTACTANOS</h1>
    <h2> Oriente 6 # 871,Orizaba Ver.<br>
        tel: 272-123-4587<br>
        picsuim@picsuim.mx
    </h2>
    <h3>Dejanos tu mensaje </h3>
    
    <h4>
    <p>Nombre completo:<input type="text" name="nombre completo" required></p>
    <p>Correo:<input type="text" name="Correo" required></p>
    <p>Telefono:<input type="text" name="telefono" required></p>
    <p>Mensaje:<input type="text" name="mensaje" required></p>
    <input type="submit" value="Enviar"></p>
    </h4>
    <!--mapa google-->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6235.812640742612!2d-97.10055498790686!3d18.846295820205214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c502a6f157b485%3A0x1410064a2fb7cabc!2sOte.%206%20871%2C%20Centro%2C%2094300%20Orizaba%2C%20Ver.!5e0!3m2!1ses-419!2smx!4v1633731245156!5m2!1ses-419!2smx" width="300" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
