<div>

    <!--ng repeat jala los elementos del array,ng-src es para la ruta de la imagen,ng-if elimina o recrea una parte del árbol DOM 
    basándose en una {expresión}. Si la expresión asignada a ngIf se evalúa como un valor falso, 
   si es true  descomenta el bloque y si es falso comenta el bloque de codigo.-->
    <img ng-src="{{image1.image}}" ng-repeat="image1 in $ctrl.array" ng-if="$ctrl.isCurrentIndex($index)">

    <style>
        body {
            background-color: powderblue;
        }
    </style>
    <!--ctrl solo tienes acceso al componenete-->
    <!--botones para cambiar la imagen y el ctrl jala el javascript-->
    <button ng-click="$ctrl.prevArray()">previous</button>
    <button ng-click="$ctrl.nextArray()">next</button>
</div>