 <!--ng repeat jala los elementos del array,ng-src es para la ruta de la imagen,ng-hide esconde o muestra el elemento -->
 <img class="images" ng-repeat="view in array" ng-src="{{view.image}}" ng-hide="!isCurrentIndex($index)">
 
 <style>
    body{
        background-color: powderblue;
    }
    h1{
        
  color:darksalmon;
  text-align:center;
    }
    h2{
        color:goldenrod;
  text-align:center; 
    }
 
  
 
</style>
<h1>Bienvenidos a la galleria de picsum !!</h1>
<h2>Dentro de esta galleria encontraras...<br> 
    distintas fotos con diferentes enfoques y <br>
    estilos que te daran la inspiración necesaria,<br>
    para tu siguiente sesion. </h2>
    
   <!--agrandar la imagen con un clic y minimizar con dos clics-->

<img onclick="this.width=450;this.height=450" ondblclick="this.width=300;this.height=300" src="https://picsum.photos/id/1023/300/300"/>
<img onclick="this.width=450;this.height=450" ondblclick="this.width=300;this.height=300" src="https://picsum.photos/id/1019/300/300"/>
<img onclick="this.width=450;this.height=450" ondblclick="this.width=300;this.height=300" src="https://picsum.photos/id/1018/300/300"/>
<img onclick="this.width=450;this.height=450" ondblclick="this.width=300;this.height=300" src="https://picsum.photos/id/1013/300/300"/>