
/* efectos de transicion*/
.images.ng-hide-add,
.images.ng-hide-remove {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
  display: block !important;
}

.gallery {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
  